/* Intro Section */
.intro-section {
  background-image: url("https://images.pexels.com/photos/234527/pexels-photo-234527.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
 /* background-color: #FFCC70; */
  height: 600px;
}

.icons-div {
  float: right;
  padding-top: 50px;
  padding-right: 80px;
}

.icons-div > .icon1 {
  padding-right: 40px;
}

.icons-div > .icon2 {
  padding-right: 40px;
}

.intro-div{
  padding-top: 230px;
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  font-family: poppins;
  color: white;
}

.img-frank {
  width: 100px;
  height: 200px;
}

.intro-div > h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: normal;
}

.intro-div > h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  margin-bottom: -5px;
}

.intro-div > p {
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
}

/* Project Section */
.project-section {
  font-family: poppins;
}

.project-headtext {
  font-family: poppins;
  text-align: center;
  padding-top: 40px;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 5rem;
  max-width: 100%;
  margin: 0;
  /*margin-bottom: 6rem;*/
  padding: 3rem;
}

.project-discription {
  padding: 20px 0px 10px 0px;
  font-family: roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card {
  padding: 20px; 
  background-color: white;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; /* ADD */
  border-color: black;
  /*box-shadow: 0px 0px 20px #F5F5F5;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  /* border: 0.771px solid black; */
}

.card > h5 {
  
  font-size: 0.8rem;
 /* padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px; */
  line-height: normal;
  font-weight: 300;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  /* margin-bottom: 9px; */
}
