/* NavBar Section */
.nav-section{
  background-color: black;
  padding-top: 30px;
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
}

.nav-text{
  color: white;
  font-family: lobster;
  font-size: 1.1rem;
  font-weight: 50;
  line-height: normal;
}

.nav-text > a {
  text-decoration: none;
  color: white;
}

.icons-div > .icon1 {
  padding-right: 40px;
}

.icons-div > .icon2 {
  padding-right: 40px;
}

/* Intro Section */
.intro-section {
  background-image: url("https://i.pinimg.com/736x/29/07/75/290775b3d639ba0fc77385d2b5bcb8f3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; 
 /* background-color: #FFCC70; */
  height: 80vh;
  box-shadow: 0px 8px 6.4564px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.intro-div{
  font-family: poppins;
  color: white;
}

.intro-div > h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: normal;
}

.intro-div > h3 {
  font-size: 1.5rem;
  font-weight: 450;
  line-height: normal;
  margin-bottom: -5px;
}

.intro-div > p {
  font-size: 1rem;
  font-weight: 300;
  line-height: normal;
}

/* Project Section */
.project-section {
  font-family: poppins;
  background-color: rgba(0, 0, 0, 0);
  
}

.section-container{
  padding: 40px 10px;
}

.project-headtext {
  font-family: poppins;
  text-align: center;
  padding-bottom: 25px;
  font-size: 2rem;
  font-weight: 500;
  line-height: normal;
  color: black;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /*
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  max-width: 100%;
  margin: 0;
  padding: 3rem;
  */
}

.project-discription {
  padding: 20px 0px 10px 0px;
  font-family: roboto;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card {
  padding: 20px; 
  background-color: white;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  border-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px;
}

.card:hover {
  opacity: 0.5;
  transition: 0.5s;
  box-shadow: 3px 3px 8px DimGrey;
}

.card > h5 {
  font-size: 0.8rem;
  line-height: normal;
  font-weight: 300;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

/*Media Queries*/
@media (max-width: 800px){
  
.nav-section{
    padding-right: 30px;
    padding-left: 30px;

} 

.intro-div > h3 {
  font-size: 0.9rem;
}

.intro-div > h1 {
  font-size: 1.7rem;
}

.intro-div > p {
  font-size: 0.6rem;
}}


@media (max-width: 500px){
  .icons-div > .icon1 {
    padding-right: 20px;
  }
  
  .icons-div > .icon2 {
    padding-right: 20px;
  }
}
  
