/* NavBar Section */
.nav-section{
  /*background-color: #252525;*/
  background-color: rgba(255, 253, 208);
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
}

.nav-text{
  /* color: white; */
  
  font-family: poppins;
  font-size: 1.0rem;
  font-weight: 50;
  line-height: normal;
  font-weight: 400;
  
}

.nav-text > a {
  text-decoration: none;
  color: #252525;
}

.icons-div {
  display: flex;
  margin: auto 0;
  padding: 0;
}

.icons-div > .icon1 {
  padding-right: 20px;
}

.icons-div > .icon2 {
  padding-right: 20px;
} 

/* Intro Section */
.intro-section {
  /* background-image: url("https://i.pinimg.com/736x/29/07/75/290775b3d639ba0fc77385d2b5bcb8f3.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
  background-color: #252525;
  height: 80vh;
  display: flex;
  /* align-items: center; */
  
  
}

.intro-div {
  margin: auto;
  text-align: center;
  font-family: roboto;
  color: white;
  line-height: normal;
  font-weight: 200;
}

h1{
  font-weight: 300;
  font-size: 48px;
  margin: 0;
  padding: 0;
}

.div-myname {
  border-top: solid 1px #c4c4c4;
  border-bottom: solid 1px #c4c4c4;
  padding: 10px 0;
  margin: 0;
}

.h1span {
  color: rgba(255, 253, 208);
  display: block;
  font-family: roboto;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.work-disc {
  padding-top: 12px;
  font-size: 23px
}


/* Project Section */
.project-section {
  font-family: poppins;
 /* background-color: rgba(0, 0, 0, 0); */
 /* background-color: rgba(253, 255, 246); */
 background-color: rgba(255, 253, 208)
  
}

.section-container{
  padding: 40px 10px;
  margin: 0;
}

.project-headtext {
  font-family: roboto;
  text-align: center;
  padding-bottom: 40px;
  font-size: 2rem;
  font-weight: 600;
  line-height: normal;
  color: #252525;
  margin-top: 0;
}

.project-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  /*
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 3rem;
  max-width: 100%;
  margin: 0;
  padding: 3rem;
  */
}


.img {
  height: 10rem;
  width: 100%;
  object-fit: cover;
}

.card {
  padding: 20px; 
  background-color: white;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 250px;
  color: #252525;
}

.card:hover {
  opacity: 0.5;
  transition: 0.5s;
  box-shadow: 3px 3px 8px DimGrey;
}


.card--image {
  width: 100%;
  border-radius: 9px;
}

.card h5 {
  padding: 20px 0px 10px 0px;
  font-family: poppins;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  
}

.project-description {
  font-size: 0.8rem;
  line-height: normal;
  font-weight: 300;
  
}

/*Media Queries*/
@media screen and (max-width: 700px) {
  h1{
    font-weight: 300;
    font-size: 35px;
    margin: 0;
    padding: 0;
}

  .work-disc {
    font-size: 18px;
  }

}
/*
@media (max-width: 320px){
  
.nav-section{
    padding-right: 30px;
    padding-left: 30px;

} 

.intro-div > h3 {
  font-size: 0.9rem;
}

.intro-div > h1 {
  font-size: 1.7rem;
}

.intro-div > p {
  font-size: 0.6rem;
}}


@media (max-width: 500px){
  .icons-div > .icon1 {
    padding-right: 20px;
  }
  
  .icons-div > .icon2 {
    padding-right: 20px;
  }
}
  */
